body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*NAV BAR*/nav{
    padding: 5px;
    background: #007DB8;
    color:rgb(255, 255, 255);
    font-size: 20px;
    box-shadow: 0px 1px 0px  rgb(4, 115, 167);
   overflow: hidden;
 
  }
  nav span{
      font-size:14px;
  }
nav .top .logo ,.search ,.utilities{
    display:inline-table;
}
  nav .top .utilities{
      float: right;
  }
  nav.top .utilities .badge{
    position: inherit;
    width: 15px;
    height: 15px;
    display: inline-block;
    min-width: 15px;
    padding: 3px 2px 0 1px;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    vertical-align: baseline;
    background-color: rgb(0, 0, 0);
    border-radius: 14px;
  }
  nav .top .utilities ul li{ 
     padding: 5px;
      margin-left: 20px;
      display: inline;
  }

  /*LOWER NAV*/

  nav .lower{
    box-shadow: 0 -1px 0px 0px  rgb(0, 93, 136);
    
  }

  nav .lower ul  {
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
   
  }
  nav .lower ul li{
    
    display: inline;
  }

  nav .lower ul li:hover{
    background: white;
    color:#007DB8;
  }

